<script type="application/x-javascript"> 
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

<!--start-pricing-tablel-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

<script>
$(document).ready(function() {
	$('.popup-with-zoom-anim').magnificPopup({
	    type: 'inline',
	    fixedContentPos: false,
	    fixedBgPos: true,
	    overflowY: 'auto',
	    closeBtnInside: true,
	    preloader: false,
	    midClick: true,
	    removalDelay: 300,
	    mainClass: 'my-mfp-zoom-in'
	});
});
</script> 

<!--======= INTRO SECTION  -->

 <section class="inner-intro bg-6 ">
  <div class="container">
     <div class="row text-center intro-title">
           <div class="col-lg-6 col-md-6 col-sm-6 text-left">
             <h1 class="text-white">Car Repair </h1>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6 text-right">
             <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">pages</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Car Repair</span> </li>
             </ul>
        </div>
     </div>
  </div>
</section>

<!--======= INTRO SECTION  -->

<div class="pricing-plans">
   <div class="wrap">
      <div class="price-head">
         <h1 style="color:black">Pricing Plan for <%= @service.name %></h1>
      </div>
      <div class="pricing-grids">
         <div class="pricing-grid1">
            <div class="price-value">
               <h2><a href="#"> BASIC</a></h2>
               <h5>
                  <span>Rs <%= @service.basic_price %></span>
                  <!-- <lable> / month</lable> -->
               </h5>
               <div class="sale-box">
                  <span class="on_sale title_shop">NEW</span>
               </div>
            </div>
            <div class="price-bg">
               <ul>
                  <% @service.basic_services.each_with_index do |basic_price, index| %>
                     <li class=<%= "whyt" if index%2 == 0%>><a href="#"><%= basic_price.service %> </a></li>
                  <% end %>
               </ul>
               <div class="cart1">
                  <a class="popup-with-zoom-anim" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Buy Now</a>
               </div>
            </div>
         </div>
         <div class="pricing-grid2">
            <div class="price-value two">
               <h3><a href="#">STANDARD</a></h3>
               <h5>
                  <span>RS <%= @service.standard_price -%></span>
                 <!--  <lable> / month</lable> -->
               </h5>
               <div class="sale-box two">
                  <span class="on_sale title_shop">NEW</span>
               </div>
            </div>
            <div class="price-bg">
               <ul>
                  <% @service.standard_services.each_with_index do |standard_service, index| %>
                     <li class=<%= "whyt" if index%2 == 0%>><a href="#"><%= standard_service.service %> </a></li>
                  <% end %>
               </ul>
               <div class="cart2">
                  <a class="popup-with-zoom-anim" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Buy Now</a>
               </div>
            </div>
         </div>
         <div class="pricing-grid3">
            <div class="price-value three">
               <h4><a href="#">PREMIUM</a></h4>
               <h5>
                  <span>RS <%= @service.premium_price -%></span>
                 <!--  <lable> / month</lable> -->
               </h5>
               <div class="sale-box three">
                  <span class="on_sale title_shop">NEW</span>
               </div>
            </div>
            <div class="price-bg">
               <ul>
                  <% @service.premium_services.each_with_index do |premium_service, index| %>
                     <li class=<%= "whyt" if index%2 == 0%>><a href="#"><%= premium_service.service %> </a></li>
                  <% end %>
               </ul>
               <div class="cart3">
                  <a class="popup-with-zoom-anim" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Buy Now</a>
               </div>
            </div>
         </div>
         <div class="clear"> </div>
         <!--pop-up-grid-->
         <div id="small-dialog" class="mfp-hide">
            <div class="pop_up">
               <div class="payment-online-form-left">
                  <form>
                     <h4><span class="shipping"> </span>Shipping</h4>
                     <ul>
                        <li><input class="text-box-dark" type="text" value="Frist Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Frist Name';}"></li>
                        <li><input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
                     </ul>
                     <ul>
                        <li><input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
                        <li><input class="text-box-dark" type="text" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}"></li>
                     </ul>
                     <ul>
                        <li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
                        <li><input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></li>
                        <div class="clear"> </div>
                     </ul>
                     <div class="clear"> </div>
                     <ul class="payment-type">
                        <h4><span class="payment"> </span> Payments</h4>
                        <li><span class="col_checkbox">
                           <input id="3" class="css-checkbox1" type="checkbox">
                           <label for="3" name="demo_lbl_1" class="css-label1"> </label>
                           <a class="visa" href="#"> </a>
                           </span>
                        </li>
                        <li>
                           <span class="col_checkbox">
                           <input id="4" class="css-checkbox2" type="checkbox">
                           <label for="4" name="demo_lbl_2" class="css-label2"> </label>
                           <a class="paypal" href="#"> </a>
                           </span>
                        </li>
                        <div class="clear"> </div>
                     </ul>
                     <ul>
                        <li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
                        <li><input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
                        <div class="clear"> </div>
                     </ul>
                     <ul>
                        <li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
                        <li><input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
                        <div class="clear"> </div>
                     </ul>
                     <ul class="payment-sendbtns">
                        <li><input type="reset" value="Cancel"></li>
                        <li><input type="submit" value="Process order"></li>
                     </ul>
                     <div class="clear"> </div>
                  </form>
               </div>
            </div>
         </div>
         <!--pop-up-grid-->
      </div>
      <div class="clear"> </div>
   </div>
</div>


<style type="text/css">
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,nav.vertical ul li,section{display:block}.price-bg ul li,.price-value ul li,.pricing-grid1,.pricing-grid2 ul li,.pricing-grid3 ul li,form li,ol,ul{list-style:none}.cart1 a,.cart2 a,.cart3 a,.mfp-close,.price-head h3,a{text-decoration:none}ol,ul{margin:0;padding:0}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.txt-rt{text-align:right}.txt-lt{text-align:left}.txt-center{text-align:center}.float-rt{float:right}.float-lt{float:left}.clear{clear:both}.pos-relative{position:relative}.pos-absolute{position:absolute}.vertical-base{vertical-align:baseline}.vertical-top{vertical-align:top}nav.horizontal ul li{display:inline-block}img{max-width:100%}.ad728x90{margin-top:1em}.wrap{margin:0 auto;width:80%}.pop_up{border:9px;border-radius:1em;-o-border-radius:1em;-moz-border-radius:1em;-webkit-border-radius:1em}#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{background:#fff;padding:20px;max-width:650px;margin:40px auto;position:relative;text-align:center;border:9px;border-radius:1em;-o-border-radius:1em;-moz-border-radius:1em;-webkit-border-radius:1em}.price-head h1{text-align:center;margin-top:2em;font-size:3em;color:#fff}.price-head h3{color:#404042;font-size:3em;font-weight:700}.pricing-grids{margin:12% 0}.pricing-grid1,.pricing-grid2,.pricing-grid3{width:31.5%;float:left;text-align:center;margin-right:2%;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;padding:0;border:none;border-radius:.7em;-webkit-border-radius:.7em;-o-border-radius:.7em;-moz-border-radius:.7em}.pricing-grid1:nth-child(3),.pricing-grid3{margin-right:0}.pricing-grid1:hover,.pricing-grid2:hover,.pricing-grid3:hover{transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);z-index:1;border:none}.price-value h2 a,.price-value.three h4 a,.price-value.two h3 a{font-size:1.8em;color:#fff}.price-value,.price-value.three,.price-value.two{background:#512884;padding:2.8em 1.8em 2em;border-bottom:2px solid#ffd500;border-top-left-radius:.7em;-webkit-border-top-left-radius:.7em;-o-border-top-left-radius:.7em;border-top-right-radius:.7em;-webkit-border-top-right-radius:.7em;-o-border-top-right-radius:.7em;-moz-border-top-left-radius:.7em;position:relative}.price-value.two{background:#2b2b33;border-bottom:2px solid#fd6e70}.price-value.three{background:#04dbdd;border-bottom:2px solid#028f87}.price-value ul,.pricing-grid1 ul,.pricing-grid2 ul,.pricing-grid3 ul{padding:0}.price-value h5 span{color:#fbd707;font-size:19px}.price-value lable{color:#817d94;font-size:17px}.price-value.two h5 span{color:#fe6d72}.price-value.two h5 lable{color:#8c8c94}.price-value.three h5 span{color:#018f90}.price-value.three h5 lable{color:#9CF7F8}.price-value h5{padding:11px 0}.sale-box,.sale-box.three,.sale-box.two{position:absolute;top:0;overflow:hidden;height:130px;width:143px;text-align:center;z-index:0;right:0;border-top-right-radius:.7em;-o-border-top-right-radius:.7em;-moz-border-top-right-radius:.7em;-webkit-border-top-right-radius:.7em}.sale-box span.on_sale{font-size:14px;color:#444;background:#ffd400;text-transform:uppercase;padding:58px 35px 17px 40px;width:281px;text-align:center;display:block;position:absolute;left:-47px;top:-41px;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;transition:all .5s ease;-webkit-transform:rotate(-44deg);-ms-transform:rotate(-44deg);transform:rotate(40deg);box-shadow:3px -4px 13px 3px rgba(0,0,0,.75)}.sale-box.two.sale-box span.on_sale{background:#fa6e6f}.sale-box.three.sale-box span.on_sale{background:#05AEA7}.pricing-grid1 ul li a,.pricing-grid2 ul li a,.pricing-grid3 ul li a{color:#C7C4C4;font-size:15px;text-align:center;display:block;padding:16px 0;text-decoration:none;font-weight:400}.pricing-grid1 ul li.whyt a,.pricing-grid2 ul li.whyt a,.pricing-grid3 ul li.whyt a{background:#f4f4f4}.pricing-grid1:hover div.price-bg ul li a,.pricing-grid1:hover div.price-value h3 a{color:#512884}.pricing-grid2:hover div.price-bg ul li a,.pricing-grid2:hover div.price-value h3 a{color:#fa6e6f}.pricing-grid3:hover div.price-bg ul li a,.pricing-grid3:hover div.price-value h3 a{color:#04dbdd}.price-bg{background:#fff}.price-bg ul{padding:0}.cart1,.cart2,.cart3{padding:2.7em 0;display:block;border-bottom:2px solid#ffd500}.cart2{border-bottom:2px solid#f96d70}.cart3{border-bottom:2px solid#04dbdd}.cart1 a,.cart2 a,.cart3 a{color:#FFF;font-size:.9em;font-weight:500;padding:.8em 2em;background:#f7d30b;text-transform:uppercase;-webkit-appearance:none;border-radius:1em;-webkit-border-radius:1em;-o-border-radius:1em;-moz-border-radius:1em;outline:0}.cart2 a{background:#fa6e6f}.cart3 a{background:#04dbdd}.cart1 a:hover,.cart2 a:hover,.cart3 a:hover{color:#2b2b33}form ul{padding:0}.payment-online-form-left h4{font-size:1.8em;color:#222;padding:.5em 0;text-align:left}.payment-online-form-left span{vertical-align:sub;margin-right:5px}.payment-online-form-left form{padding:0 3%}.payment-online-form-left input[type=text]{padding:1em;color:#485460;width:42%;margin:.5em 0;border:1px solid #EEE;outline:0;transition:border-color .3s;-o-transition:border-color .3s;-ms-transition:border-color .3s;-moz-transition:border-color .3s;-webkit-transition:border-color .3s;float:left;font-size:.9em;-webkit-appearance:none}.payment-online-form-left input[type=text]:hover{border-color:#fa6e6f}.text-box-light{cursor:pointer;position:relative}.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.payment-online-form-left ul li:first-child input[type=text]{margin-right:5%}.payment-online-form-left input[type=text]:active,.payment-online-form-left input[type=text]:hover{border-color:#fa6e6f;color:#fa6e6f}.payment,.shipping{width:32px;height:32px;display:inline-block}.payment-sendbtns{float:right;margin:2em 0 1.5em}.payment-sendbtns input[type=reset]{background:#fa6e6f;padding:.7em 1em;border:none;color:#FFF;cursor:pointer;font-size:1.2em;display:block;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;outline:0}.payment-sendbtns input[type=reset]:hover{color:#FFF;background:#464C54}.payment-sendbtns input[type=submit]{background:#464C54;padding:.7em 1em;border:none;color:#fff;cursor:pointer;font-size:1.2em;display:block;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;-webkit-appearance:none;outline:0}.payment-sendbtns input[type=submit]:hover{color:#fff;background:#fa6e6f}input[type=checkbox].css-checkbox1+label.css-label1,input[type=checkbox].css-checkbox2+label.css-label2{height:30px;width:30px;line-height:18px;background-repeat:no-repeat;vertical-align:super;cursor:pointer}.payment-sendbtns li,.payment-type li{display:inline-block}input[type=checkbox].css-checkbox1,input[type=checkbox].css-checkbox2{display:none}input[type=checkbox].css-checkbox1+label.css-label1{display:inline-block;background-position:0 0}input[type=checkbox].css-checkbox2+label.css-label2{display:inline-block;background-position:-20px 0}.paypal,.visa{display:inline-block;width:32px;height:32px}.payment-online-form-right{float:right;width:30%;background:#2B2937;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;border-bottom:4px solid #1A1822;padding-bottom:2em}input[type=checkbox].css-checkbox3+label.css-label3,input[type=checkbox].css-checkbox4+label.css-label4,input[type=checkbox].css-checkbox5+label.css-label5,input[type=checkbox].css-checkbox6+label.css-label6{height:22px;width:21px;line-height:18px;background-repeat:no-repeat;cursor:pointer;background-image:url(https://preview.w3layouts.com/demos/flat_pricing_tables_design/web/images/filter-bg.png);vertical-align:middle}.payment-online-form-right a:hover{color:#1ABC9C}.payment-online-form-right ul li{display:block;padding:.5em}.payment-online-form-right ul li a{color:#9095AA}.payment-online-form-right h4{color:#FFF;font-size:1em;text-transform:uppercase;border-bottom:1px solid rgba(144,149,170,.22);padding:.8em}.payment-online-form-right ul{padding:0 1em}.payment-online-form-right h5{color:#FFF;padding:.5em .8em .4em;font-size:1em}.payment-type{border-top:1px solid rgba(144,149,170,.22);margin-top:3%;text-align:left}input[type=checkbox].css-checkbox3,input[type=checkbox].css-checkbox4,input[type=checkbox].css-checkbox5,input[type=checkbox].css-checkbox6{display:none}input[type=checkbox].css-checkbox3+label.css-label3{display:inline-block;background-position:0 -38px}input[type=checkbox].css-checkbox3:checked+label.css-label3{background-position:0 0}input[type=checkbox].css-checkbox4+label.css-label4{display:inline-block;background-position:0 0}input[type=checkbox].css-checkbox4:checked+label.css-label4{background-position:0 -38px}input[type=checkbox].css-checkbox5+label.css-label5{display:inline-block;background-position:0 -38px}input[type=checkbox].css-checkbox5:checked+label.css-label5{background-position:0 0}input[type=checkbox].css-checkbox6+label.css-label6{display:inline-block;background-position:0 0}input[type=checkbox].css-checkbox6:checked+label.css-label6{background-position:0 -38px}.my-mfp-zoom-in #small-dialog{opacity:0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(.8);-moz-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8)}.my-mfp-zoom-in.mfp-ready #small-dialog{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.my-mfp-zoom-in.mfp-removing #small-dialog{-webkit-transform:scale(.8);-moz-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8);opacity:0}.my-mfp-zoom-in.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out}.my-mfp-zoom-in.mfp-ready.mfp-bg{opacity:.8}.my-mfp-zoom-in.mfp-removing.mfp-bg{opacity:0}.mfp-bg{width:100%;height:100%;z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{width:100%;height:100%;z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-close,.mfp-preloader{position:absolute;text-align:center}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-content iframe{width:100%;min-height:500px}.mfp-preloader{color:#ccc;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-close,.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;border:0;background:#EEE;-webkit-appearance:none;display:block;padding:0;z-index:1046}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;padding:0 0 18px 10px;font-style:normal;font-size:28px;outline:0;border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.image-top img{width:100%}.image-top p{text-align:justify;padding:2% 0;font-size:15px}.image-top h3{font-size:1.5em;font-weight:500;margin:16px 0 0;color:#3F4244}.footer{padding:1em 0;text-align:center}.footer p{font-size:.9em;color:#fa6e6f;font-weight:400;text-transform:uppercase}.footer p a{color:#0fc7c9}.footer p a:hover{color:#fa6e6f}@media(max-width:1366px){.pricing-grid1 ul li a,.pricing-grid2 ul li a,.pricing-grid3 ul li a{font-size:17px}}@media(max-width:1024px){.pricing-grid1 ul li a,.pricing-grid2 ul li a,.pricing-grid3 ul li a{font-size:15px}.price-value,.price-value.three,.price-value.two{padding:2em 0 1em}.price-value h2 a,.price-value.three h4 a,.price-value.two h3 a{font-size:1.6em}.price-head h1{margin-top:1em;font-size:2.6em}.pricing-grids{margin:8% 0}}@media(max-width:768px){.pricing-grid1 h3 a,.pricing-grid2 h3 a,.pricing-grid3 h3 a{padding:.4em 1em;font-size:.7em}.pricing-grid1,.pricing-grid2,.pricing-grid3{width:55%;float:none;text-align:center;margin:1em auto}.price-head h1{margin-top:1em;font-size:2.4em}.cart1,.cart2,.cart3{padding:2em 0}}@media(max-width:640px){.pricing-grid1 ul li a,.pricing-grid2 ul li a,.pricing-grid3 ul li a{font-size:15px;padding:13px 0}.pricing-grid1,.pricing-grid2,.pricing-grid3{width:65%;float:none;text-align:center;margin:1em auto}.payment-online-form-left input[type=text]{padding:1em;width:93%}.payment-sendbtns{float:none;margin:2em 0 1.5em}}@media(max-width:480px){.pricing-grid1,.pricing-grid2,.pricing-grid3{width:81%}.price-head h1{margin-top:1em;font-size:2.1em}.payment-online-form-left input[type=text]{padding:1em;width:91%}.pop_up{border:7px}}@media(max-width:320px){.pricing-grid1,.pricing-grid2,.pricing-grid3{width:100%;margin-right:0}.price-value h2 a,.price-value.three h4 a,.price-value.two h3 a{font-size:1.2em}.price-value h5 span,.price-value lable{font-size:16px}.price-head h1{margin-top:1em;font-size:1.5em}.payment-online-form-left input[type=text]{padding:.8em;width:86%;font-size:13px;margin:3px}.pop_up{border:4px}.payment-online-form-left h4{font-size:1.4em}.footer p{font-size:.9em;line-height:1.5em}ul.payment-sendbtns li{margin-top:1em}}
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Your Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Full Name:</label>
            <input type="text" class="form-control" id="full-name" name="full-name" required>
          </div>
          <div class="form-group">
            <label for="mobile-number" class="col-form-label">Mobile Number:</label>
            <input type="text" class="form-control" id="mobile-number" name="mobile-number" required>
          </div>
          <div class="form-group">
            <label for="mobile-number" class="col-form-label">Visit Date:</label>
            <input type="date" class="form-control" id="visit-date" name="visit-date" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>